$dark: #000000;
$white: #FFFFFF;

$background: $white;
$backgroundSecondary: #FBFBFB;
$backgroundLine : rgba($color: #FFFFFF, $alpha: .2);

$color: $dark;
$colorSecondary : $white;
$primary :#97D246;
$secondary : #B6C2B0;

$section-mobile-padding : 60px;

$topbarHeight : 90px;
$topbarHeightMobile : 90px;
$mobileInformations : 75px;

$container-padding: 15px;
$container-size: calc(1530px + ($container-padding * 2));
$container-fluid-size  : calc(1770px + ($container-padding * 2));
$container-calc-padding: calc(50% - ($container-size / 2));
$container-fluid-calc-padding: calc(50% - ($container-fluid-size  / 2));

$fontFamily : "IBM Plex Sans", sans-serif;
$fontFamilySecondary:"IBM Plex Sans", sans-serif;
$font-heading : "Conthrax", sans-serif;

$fontSize : 18px;
$fontSizeMobile : 14px;

$lineHeight: 1.5;
$lineHeightMobile: $lineHeight;

$paddingMobile : 20px;

$extraMobile: 760px;
$mobile : 900px;
$tablet : 1190px;
$desktop : 1360px;
$large : 1850px;

$menu-width : 745px;