@font-face {
    font-family: 'Conthrax';
    src: url('Conthrax-SemiBold.woff2') format('woff2'),
        url('Conthrax-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

