.reveal-loaded .reveal
{
    .fade-in
    {
        opacity: 0 !important;
        transition: 0s!important;
    }

    .anime-scale,
    &.anime-scale
    {
        //opacity: 0;
        animation: none !important;
    }

    .slide-in-out
    {
        transform: translateX(60px) !important;
        opacity: 0!important;
        transition: 0s!important;
    }

    .slide-out-in
    {
        transform: translateX(-60px)!important;
        opacity: 0!important;
        transition: 0s!important;
    }

    .reveal-translate {
        opacity: 0!important;
        transform: translateY(30px)!important;
        transition: 0s!important;
    }

    hr
    {
        transform: scaleX(0)!important;
        transition: 0s!important;
    }
}

.reveal-loaded
{
    .reveal-translate,
    .slide-out-in,
    .slide-in-out,
    hr
    {
        transition: 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }

    hr
    {
        transform-origin: left;
    }

    .fade-in
    {
        transition: opacity 1s ease;
    }

    .anime-scale
    {
        position: relative;
        overflow: hidden;
        animation: heroAppear 1s ease forwards;
    }

}

[data-smooth]
{
    transition: transform cubic-bezier(0.190, 1.000, 0.220, 1.000) 1.2s;
}

@for $i from 1 through 20 {
    .reveal-loaded .reveal-#{$i} {
        transition-delay: $i * 0.1s !important;
    }
}

//cubic-bezier(0.575, 0.005, 0.285, 1.005)

@media (prefers-reduced-motion: reduce) {
    .reveal [class*="fade-in"] {
        opacity: 1!important;
    }

    [class*="fade-in"]{
        transition-duration: 0s!important;
        transition-delay: 0s!important;
    }
}


@keyframes heroAppear
{
    0%
    {
        opacity: 0;
        transform: scale(1.05);
    }
    80%
    {
        transform: scale(1);
    }
    100%
    {
        opacity: 1;
        transform: scale(1);
    }
}
