@function _rem($size) {
    $remSize: calc($size / $fontSize);
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size;
    font-size: _rem($size);
}

.text-align-center
{
    text-align: center;
}

.text-align-left
{
    text-align: left;
}

.list-align-center
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stretch-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-height
{
    height: 100%;
}

.section-flex
{
    display: flex;
    flex-direction: column;
}

.text-justify
{
    text-align: justify !important;
}

.flex-grow
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.fix-overflow
{
    //overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    .is-admin & {
        overflow: visible !important;
        height: auto;
    }
}

.background_image
{
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
}

.fixed-image
{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    a
    {
        width: 100%;
        height: 100%;
    }
}

.clear {
    clear: both;
    display: block;
}

img.is_background
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.inline-image img
{
    display: inline-block;
    vertical-align: baseline;
}

img.cover
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reset-list
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.strech-slider
{
    .splide__track {
        height: 100%;
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .splide__list
    {
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }
}

.remove-br
{
    br
    {
        display: none !important;
    }
}

.overflow-h
{
    overflow: hidden;
}

.overflow-x
{
    overflow-x: hidden;
}

.no-padding-top
{
    padding-top: 0 !important;
}

.no-padding-bottom
{
    padding-bottom: 0 !important;
}

.disable-pointer {
    pointer-events: none !important;
}

.hide-max-desktop {
    @media (max-width: $mobile) {
        display: none !important;
    }
}

.hide-max-tablet {
    @media (max-width: $mobile) {
        display: none !important;
    }
}

.hide-max-mobile {
    @media (max-width: $mobile) {
        display: none !important;
    }
}

.hide-min-desktop {
    @media (min-width: $desktop) {
        display: none !important;
    }
}

.hide-min-tablet {
    @media (min-width: $desktop) {
        display: none !important;
    }
}

.hide-min-mobile {
    @media (min-width: $mobile) {
        display: none !important;
    }
}

.no-margin,
.no-padding
{
    margin: 0 !important;
    padding: 0 !important;
}

figure.no-margin,
figure.no-padding
{
    margin: 0 !important;
    padding: 0 !important;
}

.pull-left
{
    margin-left: auto;
    align-items: flex-end;
}

.p_relative
{
    position: relative;
}

.text-ident
{
    display: inline-block;
    text-indent:-10000px;
}

@media only screen and (max-width: $mobile)
{
    .text-justify,
    .text-mobile-center,
    .text-justify p,
    .text-mobile-center p
    {
        text-align: center !important;
        justify-content: center !important;
        align-self: center !important;
    }
}
