body:not(.is-scrolled).single-product .navbar-background
{
    background: rgba($color: #ffffff, $alpha: .2);
}

.single-product .page-header.header
{
    padding-top: 0 !important;
}

.single-product .header
{
    position: relative;
    width: 100%;
    //height: 980px;
    min-height: 590px;
    height: 100vh;
}

.single-product .header-background
{
    top: 0;
    width: 100%;
    height: 100%;
}

/*
.single-product .header-content
{
    padding-bottom: _rem(80px);
    height:  calc(100% - $topbarHeight);
}
*/

.single-product .header-content
{
    width: 100%;
}

.single-product .header-title .title
{
    @include fontSize(70px);
    font-weight: 700;
    line-height: 1;
}

.product-video-wrapper
{
    position: relative;
    margin-top: _rem(60px);
    max-width: $container-size;
    margin-left: auto;
    margin-right: auto;
}

.product-video-wrapper .video-title
{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.section-media .splide__arrows
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 3px;
    z-index: 100;
}

.section-media .splide__arrow
{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    background: transparent;
    opacity: 1;
    border-radius: 0;
    width: 60px;
    svg{ fill: #fff;}
}

.splide__arrow::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary;
    z-index: -1;
    transform: skewX(-20deg)
}

.product-image-inner
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 0;
}

.product-image-inner a
{
    width: 100%;
    height: 100%;
}

.product-preview .product-description
{
    @include fontSize(22px);
}

@media only screen and (max-width:$container-fluid-size)
{
    .single-product .header-title .title
    {
        @include fontSize(45px);
    }

    .product-preview .product-description
    {
        @include fontSize(20px);
    }
}

@media only screen and (max-width: $tablet) {

    .single-product.header-title .title
    {
        @include fontSize(40px);
    }

    .product-preview .product-description
    {
        font-size: 1rem;
    }
}

@media only screen and (max-width: $mobile)
{
    .single-product .header-title .title
    {
        @include fontSize(38px);
    }

    .product-preview-wrapper
    {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 0;
        padding-bottom: 0;
    }

    .single-product .product-preview
    {
        margin-bottom: 0;
        padding-bottom: 40px;
    }

    .product-preview a
    {
        display: block;

        & + a
        {
            margin-top: 15px;
        }
    }
}