body:not(.is-scrolled).single-product .navbar-background
{
    background: rgba($color: #ffffff, $alpha: .2);
}

.single-product .page-header.header
{
    padding-top: 0 !important;
}

.single-product .header
{
    position: relative;
    width: 100%;
    //height: 980px;
    min-height: 590px;
    height: 45vw;
}

.single-product .header-background
{
    top: 0;
    width: 100%;
    height: 100%;
}

.single-product .header-content
{
    padding-bottom: _rem(80px);
    height:  calc(100% - $topbarHeight);
}

.single-product .header-title .title
{
    @include fontSize(70px);
    font-weight: 700;
    line-height: 1;
}

.product-preview
{
    display: flex;
    flex-direction: column;
    gap: _rem(60px);
    margin-bottom: _rem(80px);
}

.product-preview .button
{
    margin-left: auto;
    margin-right: auto;
}

.product-preview .product-description
{
    font-weight: 700;
    @include fontSize(30px);
    text-align: center;
}

.product-preview .product-preview-image
{
    max-width: 980px;
    object-fit: contain;
    max-height: 380px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.product-video-wrapper
{
    position: relative;
    margin-top: _rem(60px);
}

.product-video-wrapper .video-title
{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

@media only screen and (max-width:$containerFluid)
{
    .single-product .header-title .title
    {
        @include fontSize(45px);
    }

    .product-preview .product-description
    {
        @include fontSize(24px);
    }
}

@media only screen and (max-width: $tablet) {

    .single-product.header-title .title
    {
        @include fontSize(40px);
    }

    .product-preview .product-description
    {
        @include fontSize(24px);
    }
}

@media only screen and (max-width: $mobile)
{
    .single-product .header-title .title
    {
        @include fontSize(38px);
    }

    .product-preview-wrapper
    {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 0;
        padding-bottom: 0;
    }
}