.section-accueil.section-worldwide
{
    position: relative;
    width: 100%;
    min-height: calc(100vh - $topbarHeight);
    max-height: 1260px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    @media only screen and (min-height:1200px)
    {
        height: 100vh;
        min-height: auto;
    }

    .hero-slider-title
    {
        width: 100%;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        padding: 20px 20px 40px;
        display: flex;

        h2
        {
            @include fontSize(75px);
            font-weight: 300;
            line-height: 1;
            max-width: 890px;

            @media only screen and (max-width:$tablet)
            {
                @include fontSize(60px);
            }
        }

        .hero-slider-title-description
        {
            @include fontSize(20px);
            margin-top: 30px;
            max-width: 890px;
        }
    }
}

.hero-slider-backgrounds .hero-background-figure img
{
    animation : zoomed 6000ms infinite;
}

@media only screen and (max-width:$mobile)
{
    .section-accueil.section-worldwide
    {
        min-height: 450px;
        .hero-slider-title
        {
            text-align: center;
            h2
            {
                @include fontSize(40px);
            }

            .hero-slider-title-description
            {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

@keyframes zoomed
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.05);
    }
    100%
    {
        transform: scale(1);
    }
}