/* Variables
========================================================================== */
@import "partials/fonts";
@import "partials/variables";

/* Helpers & librairie
========================================================================== */
@import "partials/helpers";

/* Reset 
========================================================================== */
@import "partials/resets";

html 
{
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-weight: 400;
    height: -webkit-fill-available;
    scroll-behavior: smooth;
    height: 100%;
    scroll-padding-top: $topbarHeight;

    /*
    @media only screen and (min-width:2200px)
    {
        font-size: 25px;
    }
    */
}

body
{
    background: $background;
    overflow-x: hidden;
    height:100%;

    &.menu-is-open
    {
        overflow: hidden;
    }

    /*
    &.is-admin
    {
        margin-top: 40px;
    }
    */
}

body.menu-is-open,
body.popup-open
{
    overflow: hidden;
}

main.main
{
    position: relative;
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: column;

    .is-page &
    {
        height: 100%;
    }
}

.container
{
    max-width: $containerFluid;
    padding: 0 $containerPadding;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid
{
    max-width: 2000px;
    padding: 0 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width:$mobile)
    {
        padding: 0 $containerPadding;
    }
}

.preload-transitions .form-background
{
    // Dry this up a bit with SCSS variable
    $null-transition: none !important;

    -webkit-transition: $null-transition;
    -moz-transition: $null-transition;
    -ms-transition: $null-transition;
    -o-transition: $null-transition;
    transition: $null-transition;
}

strong
{
    font-weight: 700;
}

body .margin-top
{
    margin-top: -100px;
    padding-top: 0;
}

body.static-navbar:not(.single-product) .main
{
    padding-top: $topbarHeight;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
        /* The hack for Safari */
        min-height: -webkit-fill-available;
    }
}

@media only screen and (max-width:$mobile)
{
    html 
    {
        font-size: $fontSizeMobile;
        line-height: $lineHeightMobile;
    }

    body.static-navbar:not(.single-product) .main
    {
        padding-top: $topbarHeightMobile;
    }
}

/* Import
========================================================================== */

   @import "partials/404.scss";   
   @import "partials/services.scss";
   @import "partials/navbar.scss";
   @import "partials/slider.scss";
   @import "partials/buttons.scss";
   //@import "partials/reveal.scss";
   @import "partials/default.scss";
   @import "partials/heading.scss";
   //@import "partiamainls/scroll_reveal.scss";
   @import "partials/mentions.scss";
   @import "partials/footer.scss";
   @import "partials/complianz.scss";
   @import "partials/network.scss";
   @import "partials/animation.scss";
   @import "partials/stripe-line.scss";
   @import "partials/section.scss";
   @import "partials/menu.scss";
   @import "partials/breadcrumb.scss";
   @import "partials/glightbox.scss";
   @import "partials/table.scss";
   @import "partials/subcategories.scss";

   @import "partials/header.scss";
   @import "partials/header/sliders.scss";
   @import "partials/header/pagination.scss";
   @import "partials/header/lg-switcher.scss";
   @import "partials/accueil/about.scss";
   @import "partials/accueil/categories.scss";
   @import "partials/accueil/companies.scss";
   @import "partials/accueil/online.scss";
   @import "partials/accueil/worldwide.scss";
   @import "partials/page/page.scss";
   @import "partials/products/listing.scss";
   @import "partials/products/page.scss";
   @import "partials/products/single.scss";
   @import "partials/products/crossselling.scss";
   @import "partials/products/magnifier.scss";
   @import "partials/about.scss";
   @import "partials/faq.scss";
   @import "partials/gallery.scss";
   @import "partials/online.scss";
   @import "partials/contact.scss";
   @import "partials/search.scss";
   @import "partials/french-market.scss";
   @import "partials/form.scss";
   @import "partials/download.scss";

   @import "partials/waitpage.scss";